
<a href="/">Back</a>

<h1>{{post.title}}</h1>
<h2>{{post.content}}</h2>

<p><a href="/posts/{{post._id}}/edit">Edit</a></p>

<!-- Delete Button -->
<p><form method="POST" action="/posts/{{post._id}}?_method=DELETE">
	<button type="submit">Delete</button>
</form></p> 
